{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>Welcome</h1>

{% if current_user %}
Hello {{ current_user.name }}.

{% else %}
<a href="/signup/new">Sign up</a> or <a href="/login">log in</a>.
{% endif %}

{% endblock %}