{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block body %}
<h1>Request password reset</h1>
<form action="/password/requestReset" method="post">
  <div class="form-group">
    <label for="inputEmail">Email Address</label>
    <input type="email" id="inputEmail" name="email" placeholder="Email address:" autofocus required
      class="form-control" />
  </div>
  <button type="submit" class="btn btn-outline-secondary">send password reset</button>
</form>
{% endblock %}