{% extends 'base.html' %}


{% block title %}Password Reset{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>

  $(document).ready(function () {

    /**
     * Validate the form
     */
    $('#formPassword').validate({
      rules: {
        //removed validation for name and email
        password: {
          required: true,
          minlength: 6,
          validPassword: true
        }
      },
      messages: {
        email: {
          remote: 'email already taken'
        }
      }
    });
  });
</script>

{% endblock %}

{% block body %}

<h1>Password reset</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
  {% for error in user.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

<form method="post" id="formPassword" action="/password/reset-password">

  <input type="hidden" name="token" value="{{ token }}" />

  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" id="myInput" name="password" placeholder="Password" required class="form-control" />
  </div>

  <div class="form-control col-2">
    <input type="checkbox" onclick="myFunction()">
    <span class="ml-3">Show Password</span>
  </div>

  <button type="submit" class="mt-3 btn btn-outline-secondary">reset password</button>

</form>

<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    }
    else {
      x.type = "password";
    }
  }
</script>

{% endblock %}