{% extends 'base.html' %}


{% block title %}Password Reset{% endblock %}

{% block body %}

<h1>Password Reset Successful</h1>

<p>You can now&nbsp;<a href="/login">login</a>&nbsp;with the new password.</p>



{% endblock %}